<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="superset" ToolsVersion="10.0">
  <Include Path="extendedcorrectnessrules.ruleset" Action="Default" />
  <Include Path="extendeddesignguidelinerules.ruleset" Action="Default" />
  <Include Path="securityrules.ruleset" Action="Default" />
</RuleSet>